<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
 
 
<form action="/" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>#NotABot</h1>
				<h2>Configuration Page<h2>
			</div>
 
			<div class="login-form">
				<div class="form-group">
				<label for="Username">Twitter User to Follow</label>
				<input type="text" class="form-control" value="" placeholder="username" name="handle">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				
				<div class="form-group">
				<label for="Volume">Volume</label>
				<select class="form-control" name="volume">
					<option value="High">High</option>
					<option value="Medium">Medium</option>
					<option value="Low">Low</option>
				</select>
				</div>
 
                <input type="submit" value="Save" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endblock %}